<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
        <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
        <link href='/static/application.css' rel='stylesheet' media='screen'>
    </head>
    <body>
        <div id="container">
            <div id="userStrip">
                {% block name %}{% endblock %}
                {% block signin %}{% endblock %}
            </div>
            <div id="mainPage">
                <div id="sideMenu">
                    <p class="sideMenu">Welcome{% if current_user.is_authenticated %} {{ current_user.username }}{% endif %}!</p>
                </div>
                <div id="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
    
  
        